<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View post</title>
    <link rel="stylesheet" href="/Index.css">
</head>

<body>
    <h1>Instagram</h1>
    <h3>@<%= post.username %>
    </h3>
    <p>Your post id is: <%= post.id %>
    </p>
    <h4>Followers:<%= post.Followers %>
    </h4>
    <h4>Following:<%= post.Following %>
    </h4>
    <p>Caption: <%= post.Caption %>
    </p>
</body>

</html>